<p class="notice"><%= notice %></p>
<table border="1" class="table">
  <tr>
    <td>order id</td>
    <td>order state</td>
    <td>Total Price</td>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td>
        <% if order.state.to_i == 0 %>
          pending <i class="fa fa-truck-loading"></i>
        <% elsif order.state.to_i == 1 %>
          confirmed <i class="fa fa-check-circle"></i>
        <% elsif order.state.to_i == -1 %>
          cancelled <i class="fa fa-times-circle"></i>
        <% end %>
      </td>
      <td>
        <%= order.total_price %>
        <br><%= order.products.count %> Products
      </td>
    </tr>
  <% end %>
</table>
