body{
    line-height: 2;
    font-weight: 800;
}



.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus{
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover{
    color: #fff;

}
.navbar{
    margin-bottom: 0;
}

.UserHeader,.GuestHeader{
padding-top:15px;
}

.UserHeader a:hover,.GuestHeader a:hover{
    background-color: #fff;
}

.container-fluid{
    padding: 40px 65px;
}

.cat{
    background: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    // border-radius: 5px;
    box-shadow: 1px 0px 0px rgb(41, 38, 38);}

.cat:hover{

    // border-radius: 5px;
    box-shadow: 0px 0px;
}

#productImg{
    max-width: 50%;
}

.card-container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.cart{
    background-color: #000;
    padding: 5px 15px;
    border-radius: 2px;
    margin-right: 2rem;

}
.cart a{
    all: revert;
}
.cart:hover{
    background-color: #f5cc65;

}
.product-img:hover{
    opacity: .4;
}
.product-img{
overflow: hidden;
max-width: 350px;
}
.card-body{
	padding: .3rem 10px;
}

.avatar{
    max-width: 100%;
    margin-bottom: 10px;
}

.card-container{
    margin: 10px;
}
.products{
margin: 0 auto;
}

.container-fluid{
    padding:30px 20px;
}
#v-pills-tab{
    width: 100%;
}
#v-pills-tab a{
    padding: 7px;

}

.product-name{
    color:#313131 ;
    font-size: 20px;
}

.single-product-wrapper{
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #ffffff;
}

.single-product-wrapper .product-description {
    position: relative;
    z-index: 1;
    margin-top: 25px;
}
.single-product-wrapper .product-description .product-meta-data .line {
    width: 80px;
    height: 3px;
    background-color: #313131;
    margin-bottom: 15px;
    display: block;
}

.single-product-wrapper .product-description .product-meta-data .product-price {
    line-height: 1;
    color: #313131;
    font-size: 24px;
    margin-bottom: 10px;
}
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu{
    color: #fff;
    font-size: 12px;
    background-color: black;
    width: 100%;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu:hover{
    background-color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu a:visited{
    
    color: #fff
}

.pagination > li > a{
    color: #ffffff;
    background-color: #000;
}
.pagination > li > a:hover{
    color: #000;
}

.avatarCart{
    max-width: 150px;

}


.cart-summary{
    background-color: #f5f7fa;
    margin-top: 70px;
    padding: 30px 20px;
    color: #666;
}
 .cart-summary h5 {
    font-size: 18px;
    margin-bottom: 0;
    color: #666;
 }
 .cart-summary .summary-table {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 20px;
    color: #666;
}

.mt-100 {
    margin-top: 100px !important;
}

.amado-btn {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
    background-color: #000;
    font-weight: 400;
}

.amado-btn:hover{
    color: #ffa45c;
}

.summary-table li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.carousel{
    width: 70%;
    margin: 0 auto;
    
}

.product-details{
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
}

.cart a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

// .carousel-home{
//     width: 100%;
// }

.banner_part {
    position: relative;
    background-color: #dde5e8;
    background-image: url(image_path("banner_img.webp"));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_part .single_banner_slider .banner_text {
    display: table;
    width: 100%;
    height: 820px;
}

.banner_part .single_banner_slider .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}

.banner_part .single_banner_slider .banner_text h5 {
    font-size: 24px;
    letter-spacing: 2px;
}
.banner_part .single_banner_slider .banner_text h1 {
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 110px;
    margin: 17px 0 49px;
}
.btn_1 {
    display: inline-block;
    padding: 19px 61px;
    background-color: #ffa45c;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
    text-transform: capitalize;
    color: #fff;
}
