body{
    line-height: 2;
font-weight: 800;
}

.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus{
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover{
    color: #fff;

}
.navbar{
    margin-bottom: 0;
}

.UserHeader,.GuestHeader{
padding-top:15px;
}

.UserHeader a:hover,.GuestHeader a:hover{
    background-color: #fff;
}

.container-fluid{
    padding: 40px 65px;
}

.cat{
    background: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    // border-radius: 5px;
    box-shadow: 1px 0px 0px rgb(41, 38, 38);}

.cat:hover{

    // border-radius: 5px;
    box-shadow: 0px 0px;
}

#productImg{
    max-width: 70%;
}

.card-container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.cart{
    background-color: #000;
    padding: 5px 15px;
    border-radius: 2px;
    margin-right: 2rem;

}
.cart a{
    all: revert;
}
.cart:hover{
    background-color: #f5cc65;

}
.product-img:hover{
    opacity: .4;
}
.product-img{
overflow: hidden;
}
.card-body{
	padding: .3rem 10px;
}

.avatar{
    max-width: 100%;
    margin-bottom: 10px;
}

.card-container{
    margin: 10px;
}
.products{
margin: 0 auto;
}

.container-fluid{
    padding:30px 20px;
}
#v-pills-tab{
    width: 100%;
}
#v-pills-tab a{
    padding: 7px;

}

.line{
    color:#313131 ;
    font-size: 20px;
}