 <div class="row mb-2 products">
 <% @products.each do |product| %>
<div class="col-md-3  card-container">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img" >
            
            <% product.avatars.each_with_index do |avatar, i|%>
            <% if i == 0 %>
            <%= image_tag(avatar.url , :class => 'avatar')%>
            <%end%>
            <%end%>

        </div>

        <!-- Product Description -->
        <div class="product-description d-flex align-items-center justify-content-between">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
                <div class="line"><%= product.title %></div>
                <h4><b><%= product.price %></b><span style="color:#ffa45c;font-size:20px"><sub>$<sub></span></h4>
                
            </div>
            <!-- Cart -->
            <div class="ratings-cart text-right">
                <div class="cart">
                    <a style="cursor:pointer;" data-toggle="tooltip" data-placement="left" title="Add to Cart"><%= image_tag ("bag.png")%></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
</div>


