<div class="col-md-4 card-container">
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img" >
            <img class="img-fluid" src="" alt="" id="productImg">
        </div>

        <!-- Product Description -->
        <div class="product-description d-flex align-items-center justify-content-between">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
                <div class="line"></div>
                <p class="product-price"> Price </p>
                    <h6>Name</h6>
                
            </div>
            <!-- Cart -->
            <div class="ratings-cart text-right">
                <div class="cart">
                    <a style="cursor:pointer;" data-toggle="tooltip" data-placement="left" title="Add to Cart"><%= image_tag ("bag.png")%></a>
                </div>
            </div>
        </div>
    </div>
</div>